# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
.vscode/
.vs/

# Logs
*.log

# Configuration files with sensitive information
appsettings.Production.json
.env

# Package Folders
packages/
node_modules/

# Publish Files
publish/
